body
{
    font-family: 'Nanum Gothic Coding', monospace;
    
}

h1
{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
}

h2
{
    text-align: center;
}

p
{
    font-size: 120%;
    text-align: left;
}

header
{
    background-color: beige;
    padding: 1%;
    
}

div.container
{
    width: 50%;
    margin: auto;
    text-align: center;
        
}

div.fcontain, div.ccontain
{
    display: inline-block;  
    margin-right: 15%;
}

input
{
    width: 150%;
    height: 50px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 150%;
}