body
{
    font-family: 'Nanum Gothic Coding', monospace;
    
}

h1
{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
}

h2
{
    text-align: center;
}


header
{
    background-color: beige;
    padding: 1%;
    
}

article {
    width: 960px;
    text-align: center;    
    padding-bottom: 20px;
    margin: auto;
 }
 

div {
    margin: 44px 44px 10px 44px;
    float: left;
    cursor: pointer;
 }
 
 div:first-of-type {
    width: 220px;
    height: 220px;
    background: black;
    background: rgb(0, 0, 0);
 }
 
 div:nth-of-type(2) {
    width: 0; 
    height: 0; 
    border-left: 127px solid transparent;
    border-right: 127px solid transparent;
    border-bottom: 220px solid rgb(0, 0, 0);
 }
 
 div:last-of-type {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background: rgb(0, 0, 0);
 }
 
 #msg {    
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.1em;
    padding-top: 30%;
 }
 