body
{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(230, 238, 252);
    margin: auto;
}

h1
{
    font-family: 'Climate Crisis', cursive; 
    letter-spacing: 10px;
    color: aliceblue;   
}

h2
{
    font-size: 175%;
}

li
{
    font-size: 120%;
}

header
{
    background-color: rgb(135, 185, 187);
    margin: auto;
    padding: 1%;
    text-align: center;
}

div
{   
    margin: auto;
    text-align: center;
}

table, th, td
{
    text-align: center;
    width: 25%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 120%;
    
}
